* {
  margin: 0px;
  padding: 0px;
}

body.dark {
  background: linear-gradient(black, rgb(0, 0, 74));
  background-attachment: fixed;
  text-align: center;
}

body.light {
  background: linear-gradient(rgb(110, 137, 243), #02b2d1);
  background-attachment: fixed;
  text-align: center;
}

h1 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: cursive;  
  color: #FFB03A;
  font-weight: 900;
}

table {
  display: inline-block;
  margin: auto;
  cursor: pointer;
}

.container {
  margin-bottom: 20px;
}

.cell {
    height: 50px;
    width: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.331);    
    font-family: cursive;  


}

.cell:hover {
  background-color: #FFB03A;
}

.cell.shown {
  background-color: #FFB03A;
}

.cell.shown.mine {
  background-color: #E21143;
}

.cell.marked {
  background-color: #FFB03A;
}

/* #E21143, #FFB03A */

.smiley img {
  height: 50px;
  width: 50px;
}

.level-btns {
  text-align: center;
  margin-bottom: 20px;
}

.level-btns button {
  font-family: cursive;  
  letter-spacing: 2px;
  font-size: 20px;
  padding: 5px 10px;  
  margin: 10px;
  background-color: black;
  border: 3px solid #E21143;
  cursor: pointer; 
  color: white;  
  font-weight: 100;
  border-radius: 5px;
}


.level-btns button.light {
  background-color: rgb(110, 137, 243);
}

.level-btns button:hover {
  background-color: #FFB03A;
}


.smile-n-details {
  text-align: center;
  margin-bottom: 10px;
  font-family: cursive;  
}

.mines-counter {
  display: inline-block;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  padding-top: 5px;
  color: #FFB03A;
  font-size: 20px;

}

.mines-counter span {
  color: white;
}

.smiley {
  display: inline-block;
  margin: 0px 30px;
  cursor: pointer; 
  background: transparent;
  border: 0;
}

.lives-left {
  display: inline-block;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  padding-top: 5px;
  color: #FFB03A;
  font-size: 20px;
}

.timer {
  margin: auto;
  padding: 10px;
  height: 30px;
  width: 80px;
  text-align: center;
  margin-bottom: 20px;
  color: #FFB03A;
  font-family: cursive;  
  font-size: 30px;
}

.timer span {
  color: white;
  font-size: 20px;
}

.display-mode {
  position: absolute;
  right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  border: 0;
}

.hints {
  display: inline-block;
  position: absolute;
  margin: 50px 40px;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  border: 0; 
}